@import '../../Global/Global.css';

header {
    box-sizing: border-box;

    position: fixed;
    width: 100%;
    height: 100px;

    background: rgba(68, 68, 68, 0.1);
    backdrop-filter: blur(2px);

    z-index: 1;
}

header::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #12121200 5%, #FF5252 50%, #12121200 95%);
    z-index: 9;
}

.logoContainer {
    position: absolute;
    width: 242.5px;
    height: 40px;
    left: calc(50% - 242.5px/2);
    top: calc(50% - 40px/2);
}

.searchContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 28px;
    gap: 16px;

    position: absolute;
    width: 272.04px;
    height: 44px;
    left: 339px;
    top: calc(50% - 44px/2);

    background: var(--cinza-escuro);
    border-radius: 10px;
}

.searchContainer input {
    width: auto;
    height: auto;

    background: none;
    border: none;

    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    leading-trim: both;
    text-edge: cap;
    display: flex;
    align-items: center;

    flex: none;
    order: 1;
    flex-grow: 0;

    color: var(--branco);
}

.searchContainer input::placeholder {
    color: var(--branco);
}

.searchContainer input:focus {
    outline: none;
}

.profileContainer {
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 339px;
    top: calc(50% - 40px/2);
}

.LoginButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    position: absolute;
    width: 147px;
    height: 45px;
    right: 339px;
    top: calc(50% - 45px/2);

    background: var( --button-vermelho);
    border-radius: 10px;
    border: none;
    cursor: pointer;

    font-family: var(--font-exo);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 10px;

    leading-trim: both;
    text-edge: cap;
    display: flex;
    align-items: center;
    text-align: center;

    color: var(--branco);

    flex: none;
    order: 0;
    flex-grow: 0;
}

.LoginButton:hover{
    background: var(--vermelho-hover);
}

.LoginButton:active{
    background: var(--vermelho);
}