:root {
    /* CORES */
    --branco: #F8F7ED;
    --cinza: #A7A7A7;
    --preto: #121212;
    --vermelho: #FF5252;

    /* CORES ADICIONAIS */
    --amarelo: #EEB564;
    --cinza-escuro: #444444;
    --verde: #64EE92;
    --vermelho-selection: #EE6464;
    --preto-adicional: #1E1E1E;
    --cinza-botao: #757474;
    --verde-button-active: #63C766;
    --vermelho-hover: #cf4444;
    --button-vermelho: linear-gradient(270deg, #EE6464 0%, #FF5252 100%);

    /* FONTES */
    --font-poppins: 'Poppins', sans-serif;
    --font-exo: 'Exo', sans-serif;

    /* COR COMPONENTS */
    --footer-background: transparent;
}

/* <--- SCROLLBAR ---> */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--preto);
}

::-webkit-scrollbar-thumb {
    background: var(--vermelho);
    border-radius: 25px;
}