.sectionLogin {
    position: relative;
    width: 100%;
    height: 1080px;

    background: var(--preto);
    overflow: hidden;

    & .Background {
        position: absolute;
        width: 2473.33px;
        height: 1257.99px;
        left: -375.52px;
        top: -177px;

        opacity: 0.2;
        z-index: 0;
    }
}

.Logo {
    position: absolute;
    width: 242.5px;
    height: 40px;
    left: calc(50% - 242.5px/2);
    top: 100px;
}

.RegisterContainer {
    box-sizing: border-box;

    position: absolute;
    width: 550px;
    height: 472px;
    left: calc(50% - 550px/2);
    top: 220px;

    background: rgba(68, 68, 68, 0.2);
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 18px;
}

.Title {
    position: absolute;
    width: 201px;
    height: 32px;
    left: calc(50% - 201px/2);
    top: 40px;

    font-family: var(--font-exo);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;

    display: flex;
    align-items: center;

    color: var(--branco);
}

.Title span {
    color: var(--vermelho);
}

.SubTitle {
    position: absolute;
    width: 155px;
    height: 22px;
    left: calc(50% - 155px/2);
    top: 72px;

    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    leading-trim: both;
    text-edge: cap;
    display: flex;
    align-items: center;
    text-align: center;

    color: var(--cinza);
}

.Input {
    position: relative;
    left: calc(50% - 460px/2);
    top: 110px;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 28px 16px 12px;
    gap: 10px;
    margin-bottom: 14px;

    width: 460px;
    height: 50px;

    background: rgba(30, 30, 30, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    color: var(--branco);

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.Input::placeholder {
    width: 420px;
    height: 18px;

    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    display: flex;
    align-items: center;

    color: var(--branco);

    flex: none;
    order: 0;
    flex-grow: 0;
}

.Input:focus {
    outline: 2px solid rgba(255, 82, 82, 0.5);
    border: none;
    color: var(--branco);
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: absolute;
    width: 460px;
    height: 47px;
    left: calc(50% - 460px/2);
    top: 387px;

    background: var( --button-vermelho);
    border-radius: 8px;
    border: none;
    cursor: pointer;

    font-family: var(--font-exo);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: var(--branco);

    flex: none;
    order: 0;
    flex-grow: 0;
}

.button:hover {
    background: var(--vermelho-hover);
}

.ContainerNotRegister {
    box-sizing: border-box;

    position: absolute;
    width: 550px;
    height: 172px;
    left: calc(50% - 550px/2);
    top: 712px;

    background: rgba(68, 68, 68, 0.2);
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);

    border-radius: 18px;
}

.Titulo {
    position: absolute;
    width: 190px;
    height: 32px;
    left: calc(50% - 190px/2);
    top: 22px;

    font-family: var(--font-exo);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;

    display: flex;
    align-items: center;

    color: var(--branco);
}

.Titulo span {
    color: var(--vermelho);
}

.SubTitulo {
    position: absolute;
    width: 205px;
    height: 16px;
    left: calc(50% - 205px/2);
    top: 58px;

    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;

    leading-trim: both;
    text-edge: cap;
    display: flex;
    align-items: center;
    text-align: center;

    color: var(--cinza);
}

.Btn_Register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: absolute;
    width: 360px;
    height: 47px;
    left: calc(50% - 360px/2);
    top: 92px;

    background: var( --button-vermelho);
    border-radius: 8px;
    border: none;
    cursor: pointer;

    font-family: var(--font-exo);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: var(--branco);

    flex: none;
    order: 0;
    flex-grow: 0;
}

.Btn_Register:hover {
    background: var(--vermelho-hover);
}


